---
import { Image } from "astro:assets";

const { featuredPost } = Astro.props;
---

<div class="py-20">
  <div
    class="card lg:card-side p-7 ring-1 ring-neutral/20 bg-base-300/40 rounded-3xl font-outfit"
  >
    <Image
      src={featuredPost.data.image}
      alt={featuredPost.data.title}
      format="webp"
      loading="lazy"
      class="w-full lg:max-w-sm xl:max-w-2xl h-96 rounded-xl object-cover"
    />

    <div class="card-body px-0 lg:ml-10">
      <div class="badge badge-outline">Featured Post</div>
      <h1
        class="card-title text-2xl md:text-4xl font-black text-base-content py-4"
      >
        {featuredPost.data.title}
      </h1>
      <p class="text-base-content font-light opacity-70 text-sm md:text-lg">
        {featuredPost.data.description}
      </p>

      <div class="mt-4">
        <a href={`/blog/${featuredPost.slug}`}>
          <button
            class="btn rounded-full btn-sm md:btn-md bg-primary/10 text-primary hover:bg-primary/15"
          >
            Read Article

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              width="24"
              height="24"
              ><path
                d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"
              >
              </path>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
